body {

    font-size: 16px;
    line-height: 26px;
    font-family: "Muller", sans-serif;
    color: #222222;
    background: white url(background.jpg);
}

.header {
    font-size: 200%;
    font-family: NEXT ART;
    color: white;
    padding: 4%;
    text-align: end;
    background: #4c75a3 url(head.png);
}

.photo {
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 5%;
    margin: 0;
}


.push {
    font-family: mr_SilverAgeQueensG;
    background: #4c75a3 url(track.png);
    font-size: 150%;
    text-align: center;
    padding: 2%;

}

.text {
    color: white;
    padding: 3%;
}

.main {
    background-color: rgba(255, 255, 255, 0.7);
}

.h {
    font-size: 200%;
    padding-left: 15%;
    padding-top: 1%;
    font-family: HelveticaNeueCyr;
    color: black;
}

li {
    font-family: Helvetica Neue;
    font-size: 150%;
    padding-left: 15%;
    list-style-type: none;
}

.lick {
    padding-left: 80%;
}

.copyright {
    float: right;
    color: black;
    top: 50%;
    font-size: 12px;
    padding-right: 2%;
}

footer {
    background-color: #282828;
    color: white;
    display: block;
    height: 23%;
    left: 0;
    position: absolute;
    width: 100%;
}

h1 {
    font-size: 200%;
    font-family: Monly Lite;
    padding-left: 10%;
    color: deepskyblue;
}

.foot {
    font-size: 200%;
    font-family: Monly Lite;
    padding-left: 10%;
    padding-bottom: 5%;
    vertical-align: 200%;


}

.plin {
    color: white;
    vertical-align: 50%;
}

.video {
    padding: 1%;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: white;
}

td {
    border: 1px solid black;
    padding: 1%;
}

.rax {
    width: 25%;
    border-collapse: collapse; 
}

.zad {
    padding-bottom: 10%;
}

h2 {
    font-family: Tahoma;
}

label{
    font-family: Minion Pro;
    font-size: 150%;
    color: black;
}

form{
    background-color: white;
    padding-left: 10%;
    font-size:100%;
}
.form {
 vertical-align: 25%;  
}

textarea {
    padding-left: 20%;
    
}

.kd {
    vertical-align: 115%;
}

.forma {
    font-family: Minion Pro;
    font-size: 100%;
    padding-bottom: 1%;
}

.fix {
    color:white;
}